@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'Ubuntu', sans-serif;
}

nav ul {
    display: flex;
    list-style-type: none;
    height: 69px;
    background-color: black;
    color: white;
    align-items: center;
}

nav ul li {
    margin: 10px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.brand img {
    width: 44px;
    margin-right: 10px;
}

.container {
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 23px auto;
    width: 70vw;
    border-radius: 12px;
    padding: 34px;
    background-image: url("./bg.jpg");
}

.bottom {
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons i {
    margin: 5px;
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.songList {
    width: 50%;
}
.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
    border-radius: 25px;
    border: 0;
    width: 150%;
}

.songItem img {
    border-radius: 50%;
}

.songListPlay span {
    margin: 0 10px;
}

.songListPlay i {
    margin: 0 10px;
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
    width: 25%;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.songItemPlay span {
    font-size: 1rem;
}

.songControls {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 850px) {
    * {
        font-size: 0.96rem;
    }

    h1 {
        font-size: 1.5rem;
    }

    .songItemPlay span {
        font-size: 0.8rem;
    }

    .songName {
        font-size: 0.82rem;
    }
}

@media (max-width: 375px) {
    * {
        font-size: 0.87rem;
    }

    .songInfo {
        width: 25px;
    }
}